div.simulator_enigma_container{
    display:flex;
    flex-direction: column;    
    width: 100%;
    word-wrap: break-word;    
}
.simulator_enigma_itme_1{
    background-image: url("image/enigma_machine_background.jpg");       
    background-size: cover;
    margin: auto;
    height: 100%;    
    width: 80%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    border:20px solid transparent;
    border-image-source: url('image/wood.jpg');
    border-image-slice: 35%;    
}
.top_simulator_enigma_machine{    
    display: flex;
    padding: 20px;
    justify-content: center;    
}
.itme_router_top_simulator_enigma_machin{
    
    height: 15em;
    margin: 0px 5px;    
}
.numbring_simulator_enigma_machin{
    /* background-color: rgb(173, 173, 183); */
    background-image: linear-gradient(120deg , rgb(0, 0, 0), #bd961fc2, rgb(0, 0, 0));
    border-radius: 50%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.router_number{
    padding: 20px;
    background-image: linear-gradient(20deg , #a49464,#44200075, #ead999);    
    border: 3px black solid;    
    font-size: 25px;
    font-weight: bold;
}
.router_disign_simulator_enigma_machin{
    background-image: linear-gradient(to top , white, rgba(0, 0, 0, 0.300) , white,  rgba(0, 0, 0, 0.300)  , white , rgba(0, 0, 0, 0.300)  , white ,  rgba(0, 0, 0, 0.300) , white ,  rgba(0, 0, 0, 0.300) , white ,  rgba(0, 0, 0, 0.300) );
    border: 1px black solid;
    width: 2%;
}

.simulator_enigma_item_2{
    background-image: url(image/brown-crumpled-paper-texture.jpg);    
    background-size: cover;        
    margin: auto;
    height: 100%;    
    width: 85%;
    padding: 10px;
}
.enigma_simulator_breack_line{    
    border: 5px rgba(0, 0, 0, 0.5) solid;
    box-shadow: 0px 2px 5px black;
    height: 1px;
}
.simulator_enigma_item_2 table{
    /* background-color: #d5ab5e82; */
    color: #7d4b0ade;
    width: 100%;
    text-align: center;  
    border: 3px rgba(160, 66, 28, 0.397) solid;  
    
}
.simulator_enigma_item_2 table td{
    /* border: 1px solid black; */
    text-align: center;
    padding: 5px;
    font-size: 1.2em;    
    
}
.simulator_enigma_item_2 table th{
    /* border: 1px solid black; */    
    font-size: 1.5em;
}