section.simulator_enigma_main_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.simulator_enigma_container{
    display:flex;
    flex-direction: column;    
    width: 100%;
    word-wrap: break-word;    
}
.simulator_enigma_itme_1{
    background-image: url("image/enigma_machine_background.jpg");       
    background-size: cover;
    margin: auto;
    height: 100%;    
    width: 70%;
    display: grid;
    grid-template-rows: 3fr 0fr  2.7fr 0fr 2.7fr;
    border:20px solid transparent;
    border-image-source: url('image/wood.jpg');
    border-image-slice: 35%;    
}
.setup_simulator_enigma_machine{    
    display: flex;
    padding: 20px;
    justify-content: center;    
}
.itme_router_top_simulator_enigma_machin{    
    height: 15em;
    margin: 0px 5px;    
}
.numbring_simulator_enigma_machin{
    /* background-color: rgb(173, 173, 183); */        
     width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    margin: 5% 30px;    
    background-color: #959788a4;
    border-radius: 10px;
}
.router_number{
    /* padding: 20px; */
    width: 80%;
    height: 50%;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(20deg , #383838,white, #3a3a3a);    
    border: 3px darkgrey solid;    
    font-size: 30px;
    text-shadow: 6px 4px 2px gray;
    font-weight: bold;
}
.router_disign_simulator_enigma_machin{
    background-image: linear-gradient(to top , black,white,#171717d1,white,#171717d1 , white, #171717d1, white , #171717d1, white , black);
    border: 5.5px #3d3d3db2 solid;
    width: 25px;
    position: relative;
}

.key_simulator_enigma_machine{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.simulator_enigma_button_container{
    display: flex;
    align-items: end baseline;
    width: 80%;
}
.simulator_enigma_button{
    width: 60px;
    height: 60px;
    text-align: center;
    margin: auto;    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;    
}
.light_button{        
    background-image: radial-gradient(#4f4f4f , #4f4f4f, #3e3e3e , black);
    border:5px #5b5b5b solid;
    background-color: #4f4f4f;
    color: #00000066;
}
.click_button{
    box-shadow: 10px 11px 7px 2px black;
    background-image: radial-gradient(#4f4f4f , #4f4f4f, #3e3e3e , black);
    background-color:#3b3b39;     
    border:3px rgb(199, 199, 199) solid ;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.simulator_enigma_item_2{
    background-image: url(image/brown-crumpled-paper-texture.jpg);    
    background-size: cover;        
    margin: auto;
    height: 100%;    
    width: 85%;
    padding: 10px;
}
.enigma_simulator_breack_line{    
    border: 5px rgba(0, 0, 0, 0.5) solid;
    box-shadow: 0px 2px 5px black;
    height: 1px;    
}
.simulator_enigma_item_2 table{
    /* background-color: #d5ab5e82; */
    color: #7d4b0ade;
    width: 100%;
    text-align: center;  
    border: 3px rgba(160, 66, 28, 0.397) solid;  
    
}
.simulator_enigma_item_2 table td{
    /* border: 1px solid black; */
    text-align: center;
    padding: 5px;
    font-size: 1.2em;    
    
}
.simulator_enigma_item_2 table th{
    /* border: 1px solid black; */    
    font-size: 1.5em;
}
.router_top_tourn_up{            
    height: 20%;
    width: 100%;    
    position: absolute;
    top: 0px;
    cursor: pointer;
}
.router_down_tourn_down{            
    height: 20%;
    width: 100%;    
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}